// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//@import "materialize" ;
//#groups{
//    border: 1px solid black;
//    width: 330px;
//}
//#create{
//    float: right;
//    display: inline-block;
//    width: 211px;
//}
//#nav{
//    float: right;
//}
#greeting {
    text-align: center;
}
.groupcard {
    top: 10px;
}
#nav {
    background-color: #f4cd41;
    border-bottom: 1px solid #f44141;
    text-align: center;
}
#nav a {
    float: right;
}
.nav-wrapper{
    background-color: #f4cd41;
    border-bottom: 1px solid #f44141;
    text-align: center;
    font-size: 30px;
}
#create{
    background-color: #f4cd41;
}

form h2{
text-align: center;
color: ivory;
    }
form {
    align-content: center;
}
.card-title{
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
}

.groupcard{
    top: 50%;
}

.creator{
    font-size: 20px;
    margin-top: 4rem;
    text-decoration-color: #f44141;
}