// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#register{
    display: block;
    width: 190px;
}
#login {
    display: block;
    width: 198px;
}
.errors{
    color: red;
    background-color: yellow;
}