// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//#register{
//    display: block;
//    width: 190px;
//}
//#login {
//    display: block;
//    width: 198px;
//}
//.errors{
//    color: red;
//    background-color: yellow;
//}
.navbar {
    background-color: blue;
    height: 100px;
}
.input-field{
    margin-right: 4px;
}
.icon-prefix{
    background-color:beige;
    color: black;
    text-decoration-color:black;
}
submit{
    background: black;
}

.bitches{
    color: black;
//    text-decoration-color: black;
     border-bottom: 4px solid white;
}
.bitch{
    background-color:black;
    width: 6rem;
}
.errors{
    color: red;
}